body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

canvas {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

main {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.inputs-form {
    display: flex;
    gap: 1rem;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
}

.flex-item {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox {
    width: 50%;
}

.text {
    justify-content: flex-start;
    gap: 1rem;
}

.form-btn {
    width: 6rem;
    white-space: nowrap;
}
